.Notesection {
  border-radius: 19px;
  background: #f1c75b;
  height: 62vh;
  margin: 2vh;
  & textarea {
    width: 29vw;
    height: 48vh;
    margin: auto;
    border: none;
    background: transparent;
    color: #000;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.688%; /* 22.194px */
    letter-spacing: 0.84px;
    margin: 2.5vh;
    outline: none;
  }
}

.noteheading {
  padding-left: 5vh;
  padding-top: 3vh;
  color: #000;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 105.688%; /* 40.161px */
  letter-spacing: 0.76px;
}
